# 档框富 颇老
HELP.md

# Gradle 包访 亲格
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS 包访 亲格
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA 包访 亲格 昏力
# .idea
# *.iws
# *.iml
# *.ipr
# out/
# !**/src/main/**/out/
# !**/src/test/**/out/

# NetBeans 包访 亲格 昏力
# /nbproject/private/
# /nbbuild/
# /dist/
# /nbdist/
# /.nb-gradle/

# VS Code 包访 亲格 昏力
# .vscode/