# 도움말 파일
HELP.md

# Gradle 관련 항목
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS 관련 항목
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA 관련 항목 삭제
# .idea
# *.iws
# *.iml
# *.ipr
# out/
# !**/src/main/**/out/
# !**/src/test/**/out/

# NetBeans 관련 항목 삭제
# /nbproject/private/
# /nbbuild/
# /dist/
# /nbdist/
# /.nb-gradle/

# VS Code 관련 항목 삭제
# .vscode/

# GoogleLogin.java 파일을 무시합니다.
src/main/java/com/sds/foodfit/sns/GoogleLogin.java