<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>푸드핏에 오신것을 환경합니다</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="/site/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="/site/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/site/css/custom.css">
</head>
<body>
	<!-- Start header -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- End header -->
	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center"><img src="site/images/slider-01.png"
				alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20">
								<strong>맛있는 나의 Fit</strong>
							</h1>
							<p class="m-b-40">
								배부른, 떼우는 그런 식사 이제 그만! <br> 날 위한 식사에 푸드핏을 이용해보세요
							</p>
							<p>
								<a class="btn btn-lg btn-circle btn-outline-new-white"
									href="/demo">체험하러가기</a>
							</p>
						</div>
					</div>
				</div></li>
			<li class="text-center"><img src="site/images/slider-02.png"
				alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20">
								<strong>맛있는 나의 Fit</strong>
							</h1>
							<p class="m-b-40">
								나에게 맞는 식단을 추천 받고 싶다면 <br> 푸드핏 회원이 되어서 퍼스널 식단을 추천 받아보세요!
							</p>
							<p>
								<a class="btn btn-lg btn-circle btn-outline-new-white"
									href="/recofood">음식추천 받으러가기</a>
							</p>
						</div>
					</div>
				</div></li>
			<li class="text-center"><img src="site/images/slider-03.png"
				alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20">
								<strong>맛있는 나의 Fit</strong>
							</h1>
							<p class="m-b-40">
								오늘 얼마나 먹었는지, 얼마나 더 먹어야될지 궁금하신가요? <br> 푸드핏 회원이 되어서 밥상진단 기능을 이용해보세요!
							</p>
							<p>
								<a class="btn btn-lg btn-circle btn-outline-new-white"
									href="/recotable">밥상진단 받으러가기</a>
							</p>
						</div>
					</div>
				</div></li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right"
				aria-hidden="true"></i></a> <a href="#" class="prev"><i
				class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="inner-column">
				<h1 class="text-center">
					<span>푸드핏 만의 서비스</span>
				</h1>
				<br>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<img src="/img/onefoodplate.jpg" alt=""
							class="img-fluid img-margin"><br>
						<p>
						<h2 class="bold-text">음식 추천</h2>
						오늘 뭐 먹지? 원하는 푸드라이프 스타일에 맞게!<br>
						"음식추천서비스 "는 고객님께서 설정하는 타입에 맞는 음식을 추천해드려요.
						</p>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<img src="/img/foodfeast.jpg" alt="" class="img-fluid"><br>
						<p>
						<h2 class="bold-text">밥상 진단</h2>
						겉만 배부른 식사 No, 이제는 속도 든든, 마음도 든든하게! <br>
						"밥상진단"으로 나에게 알맞는 칼로리와 섭취한 필수영양소를 확인하세요.  
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
	<!-- Start QT -->
	<div class="qt-box qt-background">
		<div class="container">
			<div class="row">
				<div class="col-md-8 ml-auto mr-auto text-left">
					<p class="lead ">" About Us"</p>
					<span class="lead">이거4조</span>
				</div>
			</div>
		</div>
	</div>
	<!-- End QT -->
	<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Developer comments</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle"
										src="/img/gieun.png" alt="">
								</div>
								<h5 class="mt-4 mb-0">
									<strong class="text-warning text-uppercase">남기은</strong>
								</h5>
								<h6 class="text-dark m-0">FE/BE (밥상진단)</h6>
								<p class="m-0 pt-3">밥 먹고 합시다</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle"
										src="/img/minhyeok.png" alt="">
								</div>
								<h5 class="mt-4 mb-0">
									<strong class="text-warning text-uppercase">신민혁</strong>
								</h5>
								<h6 class="text-dark m-0">FE/BE (멤버/로그인)</h6>
								<p class="m-0 pt-3">각자 하고싶은 말 적어주세요.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle"
										src="/img/jeonghyeon.jpg" alt="">
								</div>
								<h5 class="mt-4 mb-0">
									<strong class="text-warning text-uppercase">차정현</strong>
								</h5>
								<h6 class="text-dark m-0">FE/BE (체험/게시판)</h6>
								<p class="m-0 pt-3">맛있는 하루 되세요!</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="/img/young.jpg"
										alt="">
								</div>
								<h5 class="mt-4 mb-0">
									<strong class="text-warning text-uppercase">최영미</strong>
								</h5>
								<h6 class="text-dark m-0">FE/BE (음식추천 / 관리자 / API)</h6>
								<p class="m-0 pt-3">밥이 보약이다</p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button"
							data-slide="prev"> <i class="fa fa-angle-left"
							aria-hidden="true"></i> <span class="sr-only">Previous</span>
						</a> <a class="carousel-control-next" href="#reviews" role="button"
							data-slide="next"> <i class="fa fa-angle-right"
							aria-hidden="true"></i> <span class="sr-only">Next</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
		</div>
	</div>
	<!-- End Contact info -->
	<!-- Start Footer -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	<!-- End Footer -->
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
	<!-- ALL JS FILES -->
	<script src="site/js/jquery-3.2.1.min.js"></script>
	<script src="site/js/popper.min.js"></script>
	<script src="site/js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="site/js/jquery.superslides.min.js"></script>
	<script src="site/js/images-loded.min.js"></script>
	<script src="site/js/isotope.min.js"></script>
	<script src="site/js/form-validator.min.js"></script>
	<script src="site/js/contact-form-script.js"></script>
	<script src="site/js/custom.js"></script>
</body>
</html>