<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>글쓰기</title>
    <meta charset="UTF-8">
    <!-- Site Icons -->
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Custom CSS -->
    <style>
        .error-message {
            color: red;
        }
        .error-input {
            border: 1px solid red;
        }
    </style>
</head>
<body>
<br><br><br>

<div class="container">
    <h2>글쓰기</h2>
    <form id="postForm">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" name="title" placeholder="제목을 입력하세요" >
            <div class="error-message" id="titleError"></div>
        </div>

		<!-- 작성자 이름은 로그인 했을때 닉네임으로 고정
        <div class="form-group">
            <span>작성자 <span id="writerName" th:text="${session.member.name}"></span></span>
            <input type="hidden" name="writer" id="writer" th:value="${session.member.name}">
        </div>
		-->
		<div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" class="form-control" name="writer" placeholder="작성자를 입력하세요">
        </div>
        
        <div class="form-group">
            <label for="content">내용:</label><br>
            <textarea id="content" name="content" rows="15" cols="148%"></textarea>
            <div class="error-message" id="contentError"></div>
        </div>

        <button type="button" id="submitBtn" class="btn btn-primary" style="margin-right: 87%;">글쓰기</button>
        <button class="btn btn-primary" onclick="location.href='/notice'">목록</button>
    </form>
</div>

<br><br><br><br><br><br>


</body>
</html>
<script>
  $('#submitBtn').click(function() {
    var formData = {
      title: $('input[name="title"]').val(),
      writer: $('input[name="writer"]').val(),
      content: $('#content').val()
    };

    $.ajax({
      type: "POST",
      contentType: "application/json",
      url: "/notice/regist",
      data: JSON.stringify(formData),
      success: function(response) {
        window.location.href = "/notice";
      },
      error: function(xhr, status, error) {
        // 오류 처리
        console.error(error);
        var errors = JSON.parse(xhr.responseText);
        if (errors.title) {
            $('#titleError').text(errors.title);
            $('input[name="title"]').addClass('error-input');
        } else {
            $('#titleError').text('');
            $('input[name="title"]').removeClass('error-input');
        }
        if (errors.content) {
            $('#contentError').text(errors.content);
        } else {
            $('#contentError').text('');
        }
      }
    });
  });
</script>