<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.foodfit.model.favoritefood.FavoriteFoodDAO">
  <insert id="insertFavoriteFood"> 
      insert into favoriteFood (memberIdx, foodIdx) 
      values (#{member.memberIdx}, #{foodDB.foodIdx})
  </insert>  
  
<!-- 리스트에 띄우기. 마이페이지에 띄우기 위해 member와 foodDB를 참조해야함. join문을 사용한다-->
<select id="selectByMemberIdx" parameterType="java.util.List" resultType="com.sds.foodfit.domain.FavoriteFood">
      select 
          ff.favoriteFoodIdx,
          f.foodIdx,
          f.foodName,
          m.memberIdx,
          m.memberName
      from 
          favoriteFood ff
          join foodDB f on ff.foodIdx = f.foodIdx
          join member m on ff.memberIdx = m.memberIdx
      where
          ff.memberIdx in
          <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
          </foreach>          
</select>

  <delete id="deleteOnefood" parameterType="int"> 
    delete from favoriteFood where memberIdx=#{member.memberIdx} and foodIdx=#{foodDB.foodIdx}
  </delete>
  
  <delete id="deleteMultiFood">
    delete from favoriteFood where memberIdx = {member.memberIdx} and foodIdx in
    <foreach collection="foodIdxList" item="foodIdx" open="(" separator="," close=")"> #{foodDB.foodIdx}
    </foreach>
  </delete>
</mapper>