<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.foodfit.model.food.FoodDBDAO">	

	<select id="selectHighProtein">
		select * from foodDB order by protein desc limit 10
	</select>
	<select id="selectLowSugar">
		select * from foodDB order by sugar asc limit 10
	</select>
	
	<select id="selectLowSodium">
		select * from foodDB order by sodium asc limit 10
	</select>

	<!-- 밥상진단용은 SQL에서 호출 후 DAO, Service객체에서 선별해서 출력해야함. 우선 100개를 랜덤하게 불러오게 한다 -->
	<select id="selectRandomHundred">
		select * from foodDB order by rand() limit 100
	</select>




</mapper>