<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.foodfit.model.notice.NoticeDAO">

	<select id="getTotalCount" resultType="int">
		select count(*) from notice
	</select>
	
	<select id="selectAll" resultType="Notice" parameterType="java.util.Map">
    select * from notice order by regdate desc limit #{startIndex}, #{rowCount}
</select>
	
	<insert id="insert" parameterType="Notice">
		insert into notice(title, writer, content)
		values(#{title}, #{writer}, #{content})
	</insert>
	
	<select id="select" parameterType="int" resultType="Notice">
		select * from notice where noticeIdx=#{noticeIdx}
	</select>
	
	<update id="update" parameterType="Notice">
		update notice set title=#{title}, writer=#{writer}, content=#{content}
		where noticeIdx=#{noticeIdx}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from notice where noticeIdx=#{noticeIdx}
	</delete>
	
	<update id="updateHit" parameterType="int">
		update notice set hit = hit + 1 where noticeIdx = #{noticeIdx}
	</update>
	
	
	<select id="searchNoticesByTitle" resultType="Notice" parameterType="java.util.Map">
    SELECT * FROM notice 
    WHERE title LIKE CONCAT('%', #{query}, '%')
    ORDER BY regdate DESC
    LIMIT #{startIndex}, #{rowCount}
</select>

</mapper>