<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.foodfit.model.member.SnsDAO">

	<resultMap id="snsResultMap" type="com.sds.foodfit.model.member.SnsDAO">
		<id property="snsIdx" column="snsIdx"/>
		<result property="snsName" column="snsName"/>
	</resultMap>
	
	<!--회원가입 시 role의 정보가 필요함, 롤의 이름을 통해 Role DTO를 채우기 위함 -->
	<select id="selectByName" parameterType="String" resultMap="snsResultMap">
		select * from sns where snsName=#{snsName}
	</select>
	
	<select id="select" parameterType="int" resultMap="snsResultMap">
		select * from sns where snsIdx=#{snsIdx}
	</select>
	
</mapper>
