<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.sds.foodfit.model.member.SnsDAO">
	
	<!--회원가입 시 role의 정보가 필요함, 롤의 이름을 통해 Role DTO를 채우기 위함 -->
	<select id="selectByName" parameterType="String" resultType="Sns">
		select * from sns where sns_name=#{sns_name}
	</select>
	
	
	<select id="select" parameterType="int" resultMap="Sns">
		select * from sns where sns_idx=#{sns_idx}
	</select>
	
</mapper>
