<th:block th:fragment="footer_link">	
	<!-- ALL JS FILES -->
	<script src="/site/js/jquery-3.2.1.min.js"></script>
	<script src="/site/js/popper.min.js"></script>
	<script src="/site/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="/site/js/jquery.superslides.min.js"></script>
	<script src="/site/js/images-loded.min.js"></script>
	<script src="/site/js/isotope.min.js"></script>
	<script src="/site/js/picker.js"></script>
	<script src="/site/js/picker.date.js"></script>
	<script src="/site/js/picker.time.js"></script>
	<script src="/site/js/legacy.js"></script>
	<script src="/site/js/form-validator.min.js"></script>
    <script src="/site/js/contact-form-script.js"></script>

</th:block>