<th:block th:fragment="header_link">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/site/css/bootstrap.min.css">

	<!-- Site CSS -->
	<link rel="stylesheet" href="/site/css/style.css">

	<!-- Responsive CSS -->
	<link rel="stylesheet" href="/site/css/responsive.css">

	<!-- Pickadate CSS -->
	<link rel="stylesheet" href="/site/css/classic.css">
	<link rel="stylesheet" href="/site/css/classic.date.css">
	<link rel="stylesheet" href="/site/css/classic.time.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/site/css/custom.css">



</th:block>