<th:block th:fragment="header">
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">

				
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbars-rs-food" aria-controls="navbars-rs-food"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="navbar-brand" href="/">
								<img src="/img/foodfit_logo.png" alt="Foodfit Logo" width="90" height="75" /> 
							</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/demo">체험하기</a></li>
						<li class="nav-item"><a class="nav-link" href="/notice">공지사항</a></li>
						<li class="nav-item"><a class="nav-link" href="/recofood">음식추천</a></li>
						<li class="nav-item"><a class="nav-link" href="/recotable">밥상진단</a></li>

						
						 <!-- 로그인 상태에 따라 다른 내용을 보여주기 -->
					  <th:block th:if="${session.member == null}">
                        <li class="nav-item">
                            <a class="nav-link" href="/recomember/loginform">로그인/회원가입</a>
                        </li>
                      </th:block>  
                        
                       <th:block th:if="${session.member  != null}">
	                        <li class="nav-item dropdown">
	                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                            	
	                                <span th:text="${session.member.name}+'님' "></span>
	                                <span id="memberIdx" style="display: none;" th:text="${session.member.memberIdx}"></span>                                                    
	                                                            
	                            </a>
	                            <div  class="dropdown-menu" aria-labelledby="navbarDropdown">
	                                <a class="dropdown-item" href="/recomember/mypage">회원정보</a>
	                                <a class="dropdown-item" href="/logout">로그아웃</a>
	                            </div>
	                        </li>
                        </th:block> 
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
</th:block>