<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>회원가입</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- 헤더 링크 -->
<!-- header_link begin -->
<th:block th:replace="~{fragments/header_link :: header_link}" />
<!-- header_link end -->

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
.btArea {
	display: flex;
}
label{
	font-weight: bold;
}
.num{
	color: red;
	font-size: 12px;
}
.type{
	display: flex;
}
.type .btn{
	width:20%;
}
.pwdText{
	display: flex;
}
.pwdText p {
	margin-left: 7px;
}
</style>
</head>
<body>

	<!-- Start header -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- End header -->


	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>FoodFit!</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>회원가입</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form id="join_form">
						<div class="row">
							<input type="hidden" name="sns.snsName" value="homepage">
							
								<div class="col-md-12">
									<div class="form-group">
										<label for="name">이름을 입력해주세요</label> 
										<input type="text" class="form-control" name="name" placeholder="한글 또는 영문으로 입력해주세요.">
									</div>
								</div>

							<div class="col-md-12">
								<div class="form-group">
									<label for="id">아이디를 입력해주세요.</label>
									<div class="type">
										<input type="text" class="form-control" id="id" name="id">
										<button class="btn btn-common" id="id_check" type="button" onClick="checkId()">중복확인</button>
									</div>
									<div id="id_check_result"></div>
								</div>
							</div>
							
								<div class="col-md-12">
									<div class="form-group">
										<div class="pwdText">
											<label for="Pwd">비밀번호를 입력해주세요.</label>
											<p>※비밀번호는 <span class="num">문자, 숫자, 특수문자(~!@#$%^&*)의 조합10 ~16자리</span>로 입력이 가능합니다.</p>
										</div>
										<input type="password" class="form-control" id="password" name="pwd">
									</div>
								</div>
								
								<div class="col-md-12">
									<div class="form-group">
										<label for="Pwd">비밀번호 확인</label> 
										<input type="password" class="form-control" id="pwdCheck" name="pwdCheck">
									</div>
								</div>
							
								<div class="col-md-12">
									<div class="form-group">
										<label for="email">이메일을 입력해주세요.</label>
										<div class="type">
											<input type="email" class="form-control" name="email">
											<button class="btn btn-common" id="email_check" type="button">중복확인</button>
										</div>
									</div>
								</div>

							<div class="col-md-12">
								<div class="submit-button text-center btArea">
									<button class="btn btn-common" id="bt_prev" type="button" onClick="prev()">이전</button>
									<button class="btn btn-common" id="bt_health" type="button">건강정보입력</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Footer -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- js link -->
	<div th:insert="~{fragments/footer_link :: footer_link}"></div>

</body>
</html>


<script type="text/javascript">

	

function getAuthForm(sns){
	$.ajax({
		url:"/rest/recomember/authform/"+sns,
		type:"GET",
		success:function(result, status, xhr){
			location.href=result;
		},
		error: function(xhr, setatus, error){
			//에러처리
			console.error("AJAX에러:", error);
			alert("권한이 없거나 요청에 실패했습니다");
		}
	});
}

	function healthCheck() {
		console.log($("#join_form").serialize());

		//비동기로, 서버에회원정보 임시로 저장 후, 
		$.ajax({
			url : "/rest/recomember/temp",
			type : "post",
			data : $("#join_form").serialize(),
			success : function(response) {
				alert(response)
				window.location.href="/recomember/registform"
			},
			error : function(xhr, status, err) {
				alert("회원정보 저장 실패");
			}
		});
	}

	$(function() {
		$("#bt_health").click(function() {
				healthCheck();			
		});
		$(function() {
			$("#bt_prev").click(function() {
				location.href = "/recomember/loginform"
			});
		})

	});
</script>



