<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>회원페이지</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- 헤더 링크 -->
<!-- header_link begin -->
<th:block th:replace="~{fragments/header_link :: header_link}" />
<!-- header_link end -->

<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<style type="text/css">
.wrapper {
	display: flex;
}

.btn {
	width: 100%;
	display: flex;
}

.btn>button {
	align-items: center;
	flex-direction: column
}

.type {
	display: flex;
}

.type .btn {
	align-items: center;
	flex-direction: column;
	width: 20%;
}

</style>
</head>
<body>

	<!-- Start header -->
	<th:block th:replace="~{fragments/header :: header}" />
	<!-- End header -->




	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>마이페이지</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="wrapper">
				<!--Start content  -->
				<div class="content">

					<!--Start Heading title  -->
					<div class="row">
						<div class="col-md-12">
							<div class="heading-title text-center">
								<h2>회원정보</h2>
							</div>
						</div>
					</div>
					<!--End Heading title  -->

					<div class="col-lg-12">
						<form id="mypage_form">
							<div class="row">
								<input type="hidden" name="sns.snsName" value="homepage">
								
								<div class="col-md-12">
									<div class="form-group">
										<label th:for="name">이름</label> 
										<input type="text" class="form-control" th:value="${member.name}" readonly>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="id">아이디</label>
										<div class="type">
											<input type="text" class="form-control" id="id" th:value="${member.id}" oninput="idModify()">
											<button class="btn btn-common" id="id_check" type="button" onClick="checkId()">중복확인</button>
											<button class="btn btn-common" id="id_update" type="button" onClick="updateId()">변경하기</button>
										</div>
										<div id="id_check_result"></div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="currentPwd">현재 비밀번호</label> 
										<input type="password" class="form-control" id="currentPwd" name="pwd" placeholder="****" readonly>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<div class="input-group">
											<div class="input-group-append">
												<button class="btn btn-common" id="pwd_check" type="button"
													onclick="changePassword()">변경하기</button>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="email">이메일</label>
										<div class="type">
											<input type="email" class="form-control"
												th:value="${member.email}">
											<button class="btn btn-common" id="email_check" type="button">중복확인</button>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="age">나이대</label> <select class="form-control"
											id="age">
											<option th:if="${member.memberDetail.age == null}"  		  th:value="">나이대를 선택해주세요</option>
											
											<option th:each="i : ${#numbers.sequence(10, 60,10)}" 
														 th:text="${i} + '대'"  
														 th:value="${i}+ '대'" 
														 th:selected="${i == member.memberDetail.age}">
											</option>
											
										</select>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="gender">성별</label> 
										<select class="form-control" id="gender">
											<option th:if="${member.memberDetail.gender == null}" value="">성별을 선택하세요</option>
											<option th:selected="${member.memberDetail.gender == 'male'}" value="male">male(남성)</option>
											<option th:selected="${member.memberDetail.gender == 'female'}" value="female">female(여성)</option>
										</select>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="height">신장</label>
										<div class="input-group">
											<input type="number" class="form-control"
												th:value="${member.memberDetail.height != null ? member.memberDetail.height : ''}">
											<div class="input-group-append">
												<span class="input-group-text">cm</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="form-group">
										<label th:for="weight">체중</label>
										<div class="input-group">
											<input type="number" class="form-control"
												th:value="${member.memberDetail.weight != null ? member.memberDetail.weight : ''}">
											<div class="input-group-append">
												<span class="input-group-text">kg</span>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-12">
									<div class="submit-button text-center btn">
										<button class="btn btn-common" id="bt_update" type="button">수정하기</button>
										<button class="btn btn-common" id="bt_del" type="button">회원탈퇴</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
				<!--end contet  -->

			</div>
		</div>
	</div>

	<!-- End Contact -->

	<!-- Start Footer -->
	<div th:insert="~{fragments/footer :: footer}"></div>
	<!-- End Footer -->

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- js link -->
	<div th:insert="~{fragments/footer_link :: footer_link}"></div>

</body>
</html>


<script type="text/javascript">
	/*======================================
		패스워드 눈 모양 아이콘 클릭할때 마다 비밀번호 거시성 전환 코드
	=======================================*/
	function togglePasswordVisibility(inputId, iconId) {
		let input = document.getElementById(inputId);
		let icon = document.getElementById(iconId);

		if (input.type === "password") {
			input.type = "text";
			icon.innerHTML = '<i class="fas fa-eye-slash"></i>';
		} else {
			input.type = "password";
			icon.innerHTML = '<i class="fas fa-eye"></i>';
		}
	}

	$(function() {
		function update() {
			$("#bt_update").att({
				action : "/recomember/update",
				method : "post"
			});
			$("#bt_update").submit();
		}

		function del() {
			$("#bt_del").att({
				action : "/recomember/del",
				method : "post"
			});
			$("#bt_del").submit();
		}

		//회원 정보 수정 함수
		$("#bt_update").click(function() {
			update();
		});

		//회원 탈퇴 함수
		$("#bt_del").click(function() {
			del();
		});

	})
</script>



